/* Layout.css */
body {
    margin: 0;
}

@font-face {
    font-family: 'logo-font1';
    src: url('./fonts/justanotherhand-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'logo-font2';
    src: url('./fonts/BebasNeue.otf') format('truetype');
}



.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    background-image: url('./icons/bg_img.jpeg');
    background-size: cover;
    
    /* background-image: url('https://wallpapers.com/images/featured/blue-and-purple-galaxy-trn7vdd38gz6go7w.jpg');
    background-size: cover; */
}


.outer-container {
    max-width: 600px;
    width: 80%;
    /* min-height: 75vh; */
    height: 80%;
    max-height: 650px;
    /* height: auto; Change height to auto to allow content to expand */
    padding: 20px; /* Add padding to create space between content and container edges */
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
}

.nav-bar .logo {
    font-family: 'logo-font2';
    text-decoration: none;
    outline: none;
    margin-top: 12px;
    padding-left: 20px;
    font-size: 2.5rem;
    color: #6A5ACD;
}

/* Override link styles for hovered state */
.nav-bar .logo:hover {
    color: #6A5ACD; /* Keep the color dark purple on hover */
}

/* Override link styles for visited state */
.nav-bar .logo:visited {
    color: #6A5ACD; /* Keep the color dark purple for visited links */
}

@media screen and (max-width: 600px){
    .nav-bar .logo{
        padding-left: 6px;
    }
}